<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    <title>Stock Analyzer</title>
    {% tailwind_css %}
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}!
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'reddit_sentiment' %}">reddit</a>
            <a href="{% url 'reddit_sentiment_ml' %}">reddit ML</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>